<!doctype html>
<html ng-app="maFlickr">
<head>
  <title>Flickr Fixr</title>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css"/>
</head>

<body ng-controller="FlickrCtrl">
<div id="side">
  <h1>Flickr Fixr</h1>
  <h5>Your fix for your everday day Flickr needs!</h5>

  <form ng-submit="loadPhotos(true)">
    <input type='text' id='tag' placeholder="search for tags" ng-model="tag"/>
    <button type="submit" id="search">Search</button>
  </form>
  <h6>Features</h6>
  <ul>
    <li>Click on an image to view it bigger (= better)</li>
    <li>Images bigger than the screen are automatically resized</li>
    <li>The title of the images is displayed below</li>
    <li>Click on the big image or elsewhere to close it</li>
    <li>Scroll down to load more pictures</li>
    <li>Input one or more tags to search for and press the button</li>
  </ul>
</div>
<div id="wrapper">
  <ul id="photos">
    <li ng-repeat="p in photos">
      <a class="photo" ng-click="showHover(p)">
        <img alt="{{p.title}}" data-owner="{{p.owner}}" ng-src="{{pictureThumb(p)}}"/>
      </a>
    </li>
  </ul>
  <div id="placeholder" in-view="loadPhotos(false)">&nbsp;</div>
</div>

<div id="hover" ng-show="displayHover" ng-click="hideHover()">
  <img alt="{{selPhoto.title}}" ng-src="{{pictureLarge(selPhoto)}}" />
  <a id="caption" ng-href="{{flickrURL(selPhoto)}}">{{selPhoto.title}}</a>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.js"></script>
<script src="angular-inview.js"></script>
<script src="script.js"></script>
</body>
</html>